body{
  font-family: 'Montserrat', sans-serif !important;
  background-color: #F7E7EE !important;
}
.full-modal{
  max-width: 675px !important;
}
.full-modal .modal-content{
  background: #F6E7EE;
  border-radius: 20px;
}